.fullCont {
    display: flex;
    justify-content: center;
}

.formContainer {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    font-size: 20px;
}

.formContainer div {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0px 20px;
}

.formContainer div input {
    width: 25rem;
    height: 1.5rem;
    padding: 5px;
    margin-left: 10vw;
}
.formContainer div textarea {
    width: 25rem;
    height: 7rem;
    padding: 5px;
}

.formContainer select {
    width: 25.66rem;
    height: 2rem;
    padding-left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.check {
    display: flex;
    align-self: center;

}

.opt {
    background-color: rgb(235, 235, 235) ;
}

.btn button {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    width: 25.66rem;
    height: 2rem;
    padding: 5px;
}